#monitorDesktop{

    position:fixed;
    inset:0;

    pointer-events:none;

}

.desktopIcon{

    position:absolute;

    width:70px;
    height:70px;

    background:transparent;
    border:none;

    cursor:pointer;

    pointer-events:auto;

}